{
    "env": {
        "node": true,
        "commonjs": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "extends": ["eslint:recommended", "plugin:security/recommended"],
    "plugins": ["prettier", "security"],
    "rules": {
        "prettier/prettier": "error",
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-console": "off"
    }
}
